/*SCSS*/
/* estilosGenerales.scss*/
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,900;1,300;1,400;1,500;1,600;1,700;1,900&family=Shadows+Into+Light&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/*


@if $darkmode == black {
    border: solid 2px blueviolet;
    @else{
        border: solid 2px turquoise;
    }
}


.bg-condicion{
    @include modos(black);
}

.bg-condicion-2{
    @include modos(orange);
}












*/
/*extends.scss*/
/*  % = placeholder */
/*
%flex{ 
    display: flex;
    Justify-content: center;
    align-items: center;
}
en css 
.galeria{ 
    @extend %flex;
}*/
.footer-i .footer-container .footer-redes, .header-i .top-d, .form-container {
  display: flex;
  Justify-content: center;
}

/*listas*/
/*mapas*/
/* ejemplo

$boton:(
bg-boton: black,
border: 2px solid tomato,
color-text: wite,
font-size-boton: 20px,
)

.boton{
background-color: map-get ($boton, bg-botom);
border: map-get ($boton, border);

}

*/
/*almacena valores*/
/*
calculos

%ancho-img:50%;


.img{
    width: $ancho-img *2;

    }
    funcion cal () de css






*/
@media screen and (max-width: 450px) {
  .padre-e {
    margin: 0;
    margin-top: 31px;
  }
}

.form {
  display: flex;
  justify-content: flex-start;
  align-items: none;
  flex-direction: column;
  margin: 0 9rem;
  width: 100%;
}
.form .form-text {
  font-size: 1.5rem;
  color: black;
  margin-bottom: 0.3rem;
}
.form .form__item {
  background-color: #fdf1f1;
  border: 3px solid #a6132e;
  border-radius: 1rem;
  padding: 0.5rem;
}
.form .text-a {
  resize: none;
}
.form .boton-contacto {
  background-color: #a6132e;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-size: 1.5rem;
  color: #ffbaba;
  margin-top: 1rem;
}
@media screen and (max-width: 800px) {
  .form {
    margin: 0 2rem;
  }
}

.img-biografia {
  width: 100%;
  object-fit: cover;
  height: 25rem;
  margin: 1rem 0;
}

.titulo-biografia {
  text-align: center;
  margin-top: 1rem;
}

/* header */
.header-i nav {
  background-color: #ffbaba;
  padding: 0;
}
.header-i nav div a .logo {
  width: 4.5rem;
  z-index: 1;
}
@media screen and (max-width: 450px) {
  .header-i nav div a .logo {
    width: 2.8rem;
    margin: 0 0 0 1rem;
  }
}
@media (min-width: 451px) and (max-width: 992px) {
  .header-i nav div a .logo {
    width: 3.6rem;
    margin: 0;
  }
}
@media (min-width: 451px) and (max-width: 992px) {
  .header-i nav div .border-nav {
    border-color: transparent !important;
  }
}
.header-i nav div div ul li .font-mod {
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
}
.header-i .top-d {
  flex-direction: column;
  align-items: center;
}
.header-i .top-d .top-i {
  width: 100%;
  margin-top: 44.23px;
}
.header-i .top-d .top-i .top-img {
  position: relative;
  width: 100%;
}
@media screen and (max-width: 450px) {
  .header-i .top-d .top-i {
    display: none;
  }
}
@media screen and (max-width: 450px) {
  .header-i .top-d {
    margin: 0;
  }
}

.body-c {
  background-color: #fdf1f1;
}
.body-c main .padre h2 {
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
}
.body-c main .padre p {
  font-size: 1.5rem;
}
@media screen and (max-width: 450px) {
  .body-c main .padre {
    margin-top: 85px;
  }
}
.body-c main .gallery-main .foto-muriel {
  height: 30rem;
  width: 100%;
  object-fit: cover;
}
.body-c main .gallery-main .span2 {
  grid-column: span 2;
  text-align: center;
}
.body-c main .gallery-main .span2 .iframe-map {
  width: 100%;
  border-radius: 1rem;
}
@media screen and (max-width: 450px) {
  .body-c .container {
    margin-top: 85px;
  }
}

.padre {
  margin: 1rem 0;
}
.padre .titulo {
  text-align: center;
  font-family: "Poppins", sans-serif;
}
.padre .texto-p {
  font-size: 1.5rem;
  margin: 0 1rem;
}

.img-gallery {
  width: 100%;
  height: 40rem;
  object-fit: cover;
  margin-top: 1rem;
}
@media screen and (max-width: 450px) {
  .img-gallery {
    margin: 0;
  }
}

.i-frame {
  width: 100%;
  height: 20rem;
}

.foto-muriel {
  margin: 2rem;
  width: 100%;
}

.car-mod {
  width: 50%;
  margin: 0 auto;
}
@media (min-width: 451px) and (max-width: 992px) {
  .car-mod {
    width: 80%;
  }
}
@media screen and (max-width: 450px) {
  .car-mod {
    width: 90%;
  }
}

.img-mod {
  height: 22rem;
  width: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

@media screen and (max-width: 450px) {
  .padre-e {
    margin: 0;
    margin-top: 31px;
  }
}

.margin-top {
  margin: 1rem 0;
}
@media screen and (max-width: 768px) {
  .margin-top {
    margin: 0;
  }
}

/* footer */
.footer-i {
  background-color: #ffbaba;
}
.footer-i .footer-container .footer-redes a i {
  padding: 0 1rem;
  color: black;
  font-size: 3rem;
}
@media screen and (max-width: 450px) {
  .footer-i .footer-container .footer-redes {
    justify-content: center;
  }
}
@media screen and (max-width: 450px) {
  .footer-i {
    position: absolute;
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
