/* footer */
.footer-i {
    background-color: $bg-nav;

    .footer-container {
        .footer-redes {

            @extend %flex;
            
            a {

                i {
                    padding: 0 1rem;
                    color: $color-text-alt-3;
                    font-size: 3rem;

                }
            }

            @media screen and (max-width:450px) {
                justify-content: center;
            }

        }
    }

    @media screen and (max-width:450px) {
        
        position: map-get($boton, position);
        width: map-get($boton, width);
    }
}