/* footer */


@import "../base/listas";
@import "../base/mapas";
@import "../base/variables";
@import "../base/extends";

.footer-i {
    background: rgb(255, 0, 0);
    background: linear-gradient(90deg, rgba(255, 0, 0, 1) 0%, rgba(231, 36, 89, 0.9808298319327731) 35%, rgba(97, 2, 2, 1) 100%);

    .footer-container {
        .footer-redes {

            @extend %flex;
            
            a {

                i {
                    padding: 0 1rem;
                    color: $color-text-alt-1;
                    font-size: 3rem;

                }
            }

            @media screen and (max-width:450px) {
                justify-content: center;
            }

        }
    }

    @media screen and (max-width:450px) {
        
        position: map-get($boton, position);
        width: map-get($boton, width);
    }
}