/* header */
.header-i {
    nav {
        background-color: $bg-nav;
        padding: 0;
        div {
            a {
                .logo {
                    width: 4.5rem;
                    z-index: 1;

                    @media screen and (max-width:450px) {
                        width: 2.8rem;
                        margin: 0 0 0 1rem;
                    }

                    @media (min-width:451px) and (max-width:992px) {
                        width: 3.6rem;
                        margin: 0;
                    }
                }
            }

            .border-nav {
                @media (min-width:451px) and (max-width:992px) {
                    border-color: transparent !important;
                }
            }

            div ul li .font-mod {
                font-size: nth($font-size, 3);
                font-family: 'Poppins', sans-serif;
            }
        }
    }

    .top-d {
        @extend %flex;
        flex-direction: map-get($boton, flex-direction);
        align-items: center;

        .top-i {
            width: map-get($boton, width);
            margin-top: 44.23px;

            .top-img {
                position: relative;
                width: map-get($boton, width);
            }

            @media screen and (max-width:450px) {
                display: none;
            }
        }

        @media screen and (max-width:450px) {
            margin: 0;
        }
    }

}