@import "../base/extends";
@import "../base/mixin";

/*contactos*/
.form-container {
    
    @extend %flex;

}

.form {
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
    width: 50%;
}
.img-gallery {
    width: 100%;
    height: 40rem;
    object-fit: cover;
}

.i-frame {
    width: 100%;
    height: 20rem;
}