@import "../base/extends";
@import "../base/mixin";

/*contactos*/
.form-container {
    
    @extend %flex;

}

.form {
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
    width: 50%;
}