/*mapas*/

/* ejemplo

$boton:(
bg-boton: black,
border: 2px solid tomato,
color-text: wite,
font-size-boton: 20px,
)

.boton{
background-color: map-get ($boton, bg-botom);
border: map-get ($boton, border);

}

*/

$boton:(
    width: 100%,
    flex-direction: column,
    position: absolute,
    )