/*almacena valores*/
$bg-nav: #ffbaba;
$bg-gral:#fdf1f1;
$color-text-alt-1: #ffbaba;
$color-text-alt-2: #a6132e;
$color-text-alt-3:black;
$color-text-hover: #ececec;
$color-text-label: black;
$font-fam1: 'Poppins', sans-serif;
